<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="dbConnectionString" connectionString="Data Source=10.0.50.173;Initial Catalog=RecordDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="RecordDBEntities" connectionString="metadata=res://*/EF.Model1.csdl|res://*/EF.Model1.ssdl|res://*/EF.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KND54AM\SQLEXPRESS;initial catalog=RecordDB;uid=sa;pwd=123456;MultipleActiveResultSets=True;Connection Timeout=5;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="RecordDBConnectionString"
connectionString="Data Source=DESKTOP-KND54AM\SQLEXPRESS;Initial Catalog=RecordDb;uid=sa;pwd=123456"
providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>