<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RecordDBConnectionString"
  connectionString="Data Source=DESKTOP-KND54AM\SQLEXPRESS;Initial Catalog=RecordDb1;;uid=sa;pwd=123456"
  providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>